$color-black: #000000;
$color-dark-grey: #555555;
$color-grey: #a0a7a6;
$color-medium-grey: #cccccc;
$color-medium-light-grey: #e6e6e6;
$color-light-grey: #f4f4f7;
$color-white: #ffffff;
$color-main: #97d6c3;
$color-dark-blue: #215057;
