@import '../../styles/variables';

.sidebar {
    width: 275px;
    height: 100%;
    display: flex;
    float: right;
    margin: 20px 15px;
    &__container {
        width: 275px;
        height: 500px;
        background-color: $color-medium-light-grey;
        box-shadow: 2px 1px 15px 0px rgba(97, 97, 97, 0.2);
        border-radius: 10px;
        &__filter {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            margin-top: 20px;
            &__search {
                display: flex;
                align-items: center;
                height: 50px;
                &-input {
                    height: 35px;
                    text-indent: 10px;
                    color: $color-dark-blue;
                    background-color: $color-light-grey;
                    outline: none;
                    border: 1px solid transparent;
                    border-radius: 10px;
                    &:focus {
                        border: 1px solid $color-dark-blue;
                    }
                }
            }
            &-button {
                cursor: pointer;
                height: 40px;
                width: 200px;
                border-radius: 10px;
                color: $color-dark-blue;
                background-color: $color-light-grey;
                border: 1px solid;
                margin-bottom: 10px;
                &:hover {
                    background-color: $color-medium-grey;
                }
            }

            p {
                color: $color-dark-blue;
                font-weight: 600;
                font-size: 20px;
                margin: 10px;
            }
        }
    }
}
